.formGroup {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  
}

.main {
  height: 100vh;
  flex: 1;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: left;
  width: 100%;
  max-width: 1000px;
  padding: 2rem;

}

.radioInputWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  
  
}
