.formGroup {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  
}

.main {
  height: 100vh;
  flex: 1;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: left;
  width: 100%;
  max-width: 1000px;
  padding: 2rem;

}

.inputHidden {
  display: none;
}

.multipleInputLabel {
  padding: 1rem 2rem;
  border: solid 2px #ccc;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  
  
}


.inputHidden:checked + .multipleInputLabel {
  border: solid 2px #5e748f;
  background-color: #5cb988;
  color: white;
}
